:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #b24447;
    --color-bg: #04152d;

    /* Fonts */
    --font-robot: "Roboto";
}